<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/expertAdd}">
<div layout:fragment="contents" th:remove="tag">
    <div class="add-form-wrap">
        <h5 class="title">전문가 등록</h5>
        <div class="form-body">
            <div class="form-header">
                <div class="form-title">개인정보 입력</div>
                <div class="form-help"><span class="text-danger">*</span> 필수 입력 항목입니다.</div>
            </div>
            <div class="form" style="--labelWidth: 120px">
                <div class="form-group">
                    <label for="formUserId" class="form-label">아이디 <span class="text-danger">*</span></label>
                    <div class="form-input-wrap">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="formUserId" name="id"
                                       placeholder="아이디를 입력해주세요."/>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-dark" data-role="checkId">중복확인</button>
                            </div>
                        </div>
                        <div class="invalid-feedback" id="idCheck" style="display: none">이미 사용중인 아이디 입니다.</div>
                        <div class="form-text" id="form-text">※ 5~15자리 이내 영문 또는 영문+숫자 조합으로 입력 가능</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formUserPassword" class="form-label">비밀번호 <span class="text-danger">*</span></label>
                    <div class="form-input-wrap">
                        <input type="password" class="form-control" id="formUserPassword" name="password"
                               placeholder="비밀번호를 입력해주세요."/>
                        <div class="invalid-feedback" id="password-not-pattern" style="display: none">비밀번호는 8~16자리 이내
                            영문, 숫자, 특수문자를 포함해야 합니다.
                        </div>
                        <div class="form-text">※ 8~16자리 이내 영문+숫자+특수문자 조합으로 입력 가능</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formUserPasswordRe" class="form-label">비밀번호 확인 <span
                            class="text-danger">*</span></label>
                    <div class="form-input-wrap">
                        <input type="password" class="form-control" id="formUserPasswordRe"
                               placeholder="비밀번호를 다시 입력해주세요."/>
                        <div class="invalid-feedback" id="password-not-same" style="display: none">비밀번호가 일치하지 않습니다.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formUserName" class="form-label">이름 <span class="text-danger">*</span></label>
                    <div class="form-input-wrap">
                        <input type="text" class="form-control" id="formUserName" name="name"
                               placeholder="이름을 입력해주세요."/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formUserName" class="form-label">성별</label>
                    <div class="form-input-wrap">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="formUserMale" name="gender" value="M"/>
                            <label class="form-check-label" for="formUserMale">남</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="formUserFemale" name="gender" value="F"/>
                            <label class="form-check-label" for="formUserFemale">여</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formUserMobile" class="form-label">휴대폰 <span class="text-danger">*</span></label>
                    <div class="form-input-wrap">
                        <input type="tel" class="form-control" id="formUserMobile"
                               placeholder="숫자만 입력해주세요." maxlength="11" name="phone" data-role="onlyNumber"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formUserYear" class="form-label">생년월일</label>
                    <div class="form-input-wrap">
                        <div class="row">
                            <div class="col">
                                <select id="formUserYear" class="form-select" name="year">
                                    <option value="">년 선택</option>
                                    <!-- 1900~2023년까지의 연도를 동적으로 생성 -->
                                    <script>
                                        const currentYear = new Date().getFullYear();
                                        for (let year = currentYear; year >= 1900; year--) {
                                            document.write(`<option value="${year}">${year}</option>`);
                                        }
                                    </script>
                                </select>
                            </div>
                            <div class="col">
                                <select id="formUserMonth" class="form-select" name="month">
                                    <option value="">월 선택</option>
                                    <!-- 1~12월까지의 월을 생성 -->
                                    <script>
                                        for (let month = 1; month <= 12; month++) {
                                            document.write(`<option value="${month}">${month}</option>`);
                                        }
                                    </script>
                                </select>
                            </div>
                            <div class="col">
                                <select id="formUserDay" class="form-select" name="day">
                                    <option value="">일 선택</option>
                                    <!-- 1~31일까지의 일을 생성 -->
                                    <script>
                                        for (let day = 1; day <= 31; day++) {
                                            document.write(`<option value="${day}">${day}</option>`);
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formUserEmail" class="form-label">이메일 <span class="text-danger">*</span></label>
                    <div class="form-input-wrap">
                        <input type="email" class="form-control" id="formUserEmail" name="email"
                               placeholder="이메일을 입력해주세요."/>
                        <div class="invalid-feedback" id="email-invalid-feedback" style="display: none;">
                            올바른 이메일 형식이 아닙니다.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formUserCountry" class="form-label">국가</label>
                    <div class="form-input-wrap">
                        <select id="formUserCountry" class="form-select" name="nation">
                            <option value="KR">South Korea</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formUserTime" class="form-label">선호하는 시간대</label>
                    <div class="form-input-wrap">
                        <select id="formUserTime" class="form-select" name="needTime">
                            <option value="SEOUL">Asia/Seoul (GMT +09:00)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formUserJob" class="form-label">직무 <span class="text-danger">*</span></label>
                    <div class="form-input-wrap">
                        <select id="formUserJob" class="form-select" name="jobCategory">
                            <option value="EC">전문가 컨설팅</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formArea" class="form-label">분야</label>
                    <div class="form-input-wrap">
                        <select id="formArea" class="form-select" name="area">
                            <option value="C">기업</option>
                            <option value="S">학계/연구기관</option>
                            <option value="W">공공</option>
                            <option value="ST">스타트업</option>
                            <option value="M">미디어/언론</option>
                            <option value="ETC">기타 전문 영역</option>
                        </select>
                    </div>
                    <div class="col-auto flex-grow-1">
                        <div class="form-input-wrap" id="extraInputBox" style="display:none;">
                            <input type="text" class="form-control" id="areaEtc" name="areaEtc" placeholder="직접 입력"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formDetailJob" class="form-label flex-shrink-0">상세직무 <span class="text-danger">*</span></label>
                    <div class="flex-grow-1">
                        <div class="row align-items-center g-3">
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="formDetailJob1" name="jobCategoryDetail" value="AI"/>
                                    <label class="form-check-label" for="formDetailJob1">AI, DX, 5G, Smart-X(mobility, factory, health..)</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="formDetailJob2" name="jobCategoryDetail" value="EN"/>
                                    <label class="form-check-label" for="formDetailJob2">대체에너지, 2차 전지</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="formDetailJob3" name="jobCategoryDetail" value="AD"/>
                                    <label class="form-check-label" for="formDetailJob3">자율주행, 무인화 기술</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="formDetailJob4" name="jobCategoryDetail" value="IDC"/>
                                    <label class="form-check-label" for="formDetailJob4">IDC, 통신, 네트워크</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="formDetailJob5" name="jobCategoryDetail" value="BB"/>
                                    <label class="form-check-label" for="formDetailJob5">바이오, 화장품, 뷰티 테크</label>
                                </div>
                            </div>
                            <div class="col-auto flex-grow-1">
                                <div class="row align-items-center gap-2">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="formDetailJob6" name="jobCategoryDetail" value="ETC"/>
                                            <label class="form-check-label" for="formDetailJob6">기타(직접입력)</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-input-wrap">
                                            <input type="text" class="form-control" id="jobCategoryEtc" placeholder="내용을 입력하세요." name="jobCategoryEtc" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-header mt-6">
                <div class="form-title">경력 정보 입력</div>
            </div>
            <div class="form" style="--labelWidth: 120px">
                <div class="form-group">
                    <label for="formLinkedinUrl" class="form-label">Linkedin URL</label>
                    <div class="form-input-wrap">
                        <input type="text" class="form-control" id="formLinkedinUrl" name="linkedinUrl"
                               placeholder="URL을 입력하세요."/>
                    </div>
                </div>
            </div>
            <div id="career-section-container">
                <!-- 경력정보 1 -->
                <div class="form-header-2nd mt-4">
                    <div class="form-subtitle">경력정보 1</div>
                    <div class="form-help">
                        <div class="d-flex align-items-center gap-4">
                            <p>이전 기간의 경력부터 입력해 주세요.</p>
                            <button type="button" class="btn btn-outline-dark btn-sm add-career-btn">경력사항 추가</button>
                        </div>
                    </div>
                </div>
                <div class="form" style="--labelWidth: 120px">
                    <div class="form-group">
                        <label for="formUserCompany1" class="form-label">회사명 <span class="text-danger">*</span></label>
                        <div class="form-input-wrap">
                            <input type="text" class="form-control" id="formUserCompany1" name="companyName" placeholder="회사명을 입력해주세요."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formCompanyPosition1" class="form-label">직급/부서명</label>
                        <div class="form-input-wrap">
                            <input type="text" class="form-control" id="formCompanyPosition1" name="rankName" placeholder="직급/부서명 입력해주세요."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formWorkPeriod1_1" class="form-label">재직기간</label>
                        <div class="form-input-wrap">
                            <div class="row align-items-center">
                                <div class="col">
                                    <input type="text" class="form-control" id="formWorkPeriod1_1" name="careerStartDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                                </div>
                                <div class="col-auto">~</div>
                                <div class="col">
                                    <input type="text" class="form-control" id="formWorkPeriod1_2" name="careerEndDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formTask1" class="form-label">담당직무 <span class="text-danger">*</span></label>
                        <div class="flex-grow-1">
                            <textarea id="formTask1" class="form-control" name="job" placeholder="내용을 입력해주세요."></textarea>
                        </div>
                    </div>
                </div>

                <!-- 경력정보 2 -->
                <div class="form-header-2nd mt-4">
                    <div class="form-subtitle">경력정보 2</div>
                    <div class="form-help">
                        <div class="d-flex align-items-center gap-4">
                            <button type="button" class="btn btn-outline-danger btn-sm delete-career-btn">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="form" style="--labelWidth: 120px">
                    <div class="form-group">
                        <label for="formUserCompany2" class="form-label">회사명 <span class="text-danger">*</span></label>
                        <div class="form-input-wrap">
                            <input type="text" class="form-control" id="formUserCompany2" name="companyName" placeholder="회사명을 입력해주세요."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formCompanyPosition2" class="form-label">직급/부서명</label>
                        <div class="form-input-wrap">
                            <input type="text" class="form-control" id="formCompanyPosition2" name="rankName" placeholder="직급/부서명 입력해주세요."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formWorkPeriod1_1_2" class="form-label">재직기간</label>
                        <div class="form-input-wrap">
                            <div class="row align-items-center">
                                <div class="col">
                                    <input type="text" class="form-control" id="formWorkPeriod1_1_2" name="careerStartDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                                </div>
                                <div class="col-auto">~</div>
                                <div class="col">
                                    <input type="text" class="form-control" id="formWorkPeriod1_2_2" name="careerEndDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formTask2" class="form-label">담당직무 <span class="text-danger">*</span></label>
                        <div class="flex-grow-1">
                            <textarea id="formTask2" class="form-control" name="job" placeholder="내용을 입력해주세요."></textarea>
                        </div>
                    </div>
                </div>

                <!-- 경력정보 3 -->
                <div class="form-header-2nd mt-4">
                    <div class="form-subtitle">경력정보 3</div>
                    <div class="form-help">
                        <div class="d-flex align-items-center gap-4">
                            <button type="button" class="btn btn-outline-danger btn-sm delete-career-btn">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="form" style="--labelWidth: 120px">
                    <div class="form-group">
                        <label for="formUserCompany3" class="form-label">회사명 <span class="text-danger">*</span></label>
                        <div class="form-input-wrap">
                            <input type="text" class="form-control" id="formUserCompany3" name="companyName" placeholder="회사명을 입력해주세요."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formCompanyPosition3" class="form-label">직급/부서명</label>
                        <div class="form-input-wrap">
                            <input type="text" class="form-control" id="formCompanyPosition3" name="rankName" placeholder="직급/부서명 입력해주세요."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formWorkPeriod1_1_3" class="form-label">재직기간</label>
                        <div class="form-input-wrap">
                            <div class="row align-items-center">
                                <div class="col">
                                    <input type="text" class="form-control" id="formWorkPeriod1_1_3" name="careerStartDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                                </div>
                                <div class="col-auto">~</div>
                                <div class="col">
                                    <input type="text" class="form-control" id="formWorkPeriod1_2_3" name="careerEndDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formTask3" class="form-label">담당직무 <span class="text-danger">*</span></label>
                        <div class="flex-grow-1">
                            <textarea id="formTask3" class="form-control" name="job" placeholder="내용을 입력해주세요."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-header mt-6">
                <div class="form-title">국문 자기소개서 (전문 경력 중심 입력)</div>
            </div>
            <div class="form" style="--labelWidth: 120px">
                <textarea class="form-control" placeholder="전문 경력 중심으로 입력해 주세요. (4 ~ 1,000글자 이내로 작성해 주세요.)" rows="5"
                          name="selfIntroKr" maxlength="1000"></textarea>
            </div>
            <div class="form-header mt-6">
                <div class="form-title">영문 자기소개서 (전문 경력 중심 입력)</div>
            </div>
            <div class="form" style="--labelWidth: 120px">
                <textarea class="form-control" placeholder="전문 경력 중심으로 입력해 주세요. (4 ~ 1,000글자 이내로 작성해 주세요.)" rows="5"
                          name="selfIntroEn" maxlength="1000"></textarea>
            </div>
            <div class="form-header mt-4">
                <div class="form-title">이력서 파일 업로드</div>
                <div class="form-help">PDF 또는 Word 형식의 경력기술서를 업로드해 주세요.</div>
            </div>
            <div class="form" style="--labelWidth: 120px">
                <div class="form-group">
                    <label for="fileSeq" class="form-label">국문 이력서</label>
                    <div class="flex-grow-1">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="file" class="form-control" id="fileSeq" multiple="multiple"
                                       placeholder=""/>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-dark" data-role="fileUpload" data-target="fileSeq">
                                    파일찾기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="subSeq" class="form-label">영문 이력서</label>
                    <div class="flex-grow-1">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="file" class="form-control" id="subSeq" multiple="multiple"
                                       placeholder=""/>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-dark" data-role="fileUpload" data-target="subSeq">
                                    파일찾기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-header mt-6">
                <div class="form-title">자문정보 입력</div>
            </div>
            <div class="form" style="--labelWidth: 120px">
                <div class="form-group">
                    <label for="formTimezoneA" class="form-label">자문 선호 시간대 <span
                            class="text-danger">*</span></label>
                    <div class="flex-grow-1">
                        <div class="row align-items-center gx-3">
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="formWeekendY"
                                           name="advisoryNeedTime" value="WEEKDAY"/>
                                    <label class="form-check-label" for="formWeekendY">주중 가능</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-input-wrap max-width-none">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <select class="form-select" name="weekDayAdvisoryStartDt"
                                                    id="weekDayAdvisoryStartDt">
                                                <option value="">시작 시간</option>
                                            </select>
                                        </div>
                                        <div class="col-auto">~</div>
                                        <div class="col-auto">
                                            <select class="form-select" name="weekDayAdvisoryEndDt"
                                                    id="weekDayAdvisoryEndDt">
                                                <option value="">종료 시간</option>
                                            </select>
                                        </div>
                                        <div class="col-auto">
                                            <select class="form-select" name="weekDayOption">
                                                <option value="noHoli">공휴일 제외</option>
                                                <option value="yesHoli">공휴일 포함</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center gx-3 mt-2">
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="formWeekendN"
                                           name="advisoryNeedTime" value="WEEKEND"/>
                                    <label class="form-check-label" for="formWeekendN">주말 가능</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-input-wrap max-width-none">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <select class="form-select" name="weekendOption" id="weekendOption">
                                                <option value="ssok">토/일 가능</option>
                                                <option value="onlyTo">토요일만 가능</option>
                                                <option value="onlyIo">일요일만 가능</option>
                                            </select>
                                        </div>
                                        <div class="col-auto">
                                            <select class="form-select" name="weekendAdvisoryStartDt"
                                                    id="weekendAdvisoryStartDt">
                                                <option value="">시작 시간</option>
                                            </select>
                                        </div>
                                        <div class="col-auto">~</div>
                                        <div class="col-auto">
                                            <select class="form-select" name="weekendAdvisoryEndDt"
                                                    id="weekendAdvisoryEndDt">
                                                <option value="">종료 시간</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center gx-3 mt-2">
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="formTF" name="advisoryNeedTime"
                                           value="TF"/>
                                    <label class="form-check-label" for="formTF">TF 참여 가능(주 1일 Full-time 기준)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formLangA" class="form-label">자문 언어</label>
                    <div class="form-input-wrap">
                        <div class="row">
                            <div class="col">
                                <select id="formLangA" class="form-select" name="advisoryLang1">
                                    <option value="KR">한국어</option>
                                </select>
                            </div>
                            <div class="col">
                                <select id="formLangB" class="form-select" name="advisoryLang2">
                                    <option value="">언어 선택</option>
                                    <option value="EN">영어</option>
                                    <option value="CN">중국어</option>
                                    <option value="JP">일본어</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formPrice" class="form-label">시간당 자문료 <span class="text-danger">*</span></label>
                    <div class="form-input-wrap">
                        <div class="row">
                            <div class="col-5">
                                <input type="text" class="form-control" id="formPrice" name="timeAdvisory"
                                       inputmode="numeric"
                                       placeholder="금액 입력"/>
                            </div>
                            <div class="col-7">
                                <select class="form-select" name="timeAdvisoryOption">
                                    <option value="KRW">KRW (Korea (South) Won)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 mt-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formPrivacyAgree" name="infoAgreeYn"/>
                    <label class="form-check-label"> <span class="text-primary text-decoration-underline cursor-pointer">개인정보 수집 및 이용</span>에 동의합니다. </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formTermsAgree" name="useAgreeYn"/>
                    <label class="form-check-label"> <span class="text-primary text-decoration-underline cursor-pointer">이용약관</span>에 동의합니다. </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formParticipationAgree" name="expertSolutionYn"/>
                    <label class="form-check-label"> <span class="text-primary text-decoration-underline cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal-expert-participation">전문가 자문 참여</span>에 동의합니다. </label>
                </div>
            </div>
        </div>
        <div class="form-footer gap-2">
            <button type="button" class="btn btn-outline-secondary" data-role="main">메인으로 이동</button>
            <button type="button" class="btn btn-secondary" data-role="tempSave">임시저장</button>
            <button type="button" class="btn btn-primary" data-role="save">최종제출</button>
        </div>
    </div>
</div>
</html>