<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/expertAddEn}">
<div layout:fragment="contents" th:remove="tag">
    <div class="add-form-wrap">
      <h5 class="title">Expert Registration</h5>
      <div class="form-body">
        <div class="form-header">
          <div class="form-title">Personal Information</div>
          <div class="form-help"><span class="text-danger">*</span> Required Field.</div>
        </div>
        <div class="form" style="--labelWidth: 120px">
          <div class="form-group">
            <label for="formUserId" class="form-label">ID <span class="text-danger">*</span></label>
            <div class="form-input-wrap">
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" id="formUserId" name="id" placeholder="Please enter your ID."/>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-dark" data-role="checkId">Availability check</button>
                </div>
              </div>
              <div class="invalid-feedback" id="idCheck" style="display: none">>This ID is already in use.</div>
              <div class="form-text" id="form-text">※ Please enter 5-15 characters, using letters or letters and numbers.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="formUserPassword" class="form-label">Password <span class="text-danger">*</span></label>
            <div class="form-input-wrap">
              <input type="password" class="form-control" id="formUserPassword" name="password"
                     placeholder="Please enter your password."/>
              <div class="invalid-feedback" id="password-not-pattern" style="display: none">
                Password must be 8 to 16 characters long and contain letters, numbers, and special characters.
              </div>
              <div class="form-text">※ Enter 8-16 characters, combining letters, numbers, and special characters.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="formUserPasswordRe" class="form-label">Confirm Password <span
                    class="text-danger">*</span></label>
            <div class="form-input-wrap">
              <input type="password" class="form-control" id="formUserPasswordRe"
                     placeholder="Please re-enter your password."/>
              <div class="invalid-feedback" id="password-not-same" style="display: none">Password does not match.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="formUserName" class="form-label">Name <span class="text-danger">*</span></label>
            <div class="form-input-wrap">
              <input type="text" class="form-control" id="formUserName" name="name" placeholder="Please enter your name."/>
            </div>
          </div>
          <div class="form-group">
            <label for="formUserName" class="form-label">Gender</label>
            <div class="form-input-wrap">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="formUserMale" name="gender" value="M"/>
                <label class="form-check-label" for="formUserMale">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="formUserFemale" name="gender" value="F"/>
                <label class="form-check-label" for="formUserFemale">Female</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="formUserMobile" class="form-label">Mobile Number <span class="text-danger">*</span></label>
            <div class="form-input-wrap">
              <input type="tel" class="form-control" id="formUserMobile"
                     placeholder="Please enter numbers only." maxlength="11" name="phone" data-role="onlyNumber"/>
            </div>
          </div>
          <div class="form-group">
            <label for="formUserYear" class="form-label">Date of Birth</label>
            <div class="form-input-wrap">
              <div class="row">
                <div class="col">
                  <select id="formUserYear" class="form-select" name="year">
                    <option value="">Year</option>
                    <!-- 1900~2023년까지의 연도를 동적으로 생성 -->
                    <script>
                      const currentYear = new Date().getFullYear();
                      for (let year = currentYear; year >= 1900; year--) {
                        document.write(`<option value="${year}">${year}</option>`);
                      }
                    </script>
                  </select>
                </div>
                <div class="col">
                  <select id="formUserMonth" class="form-select" name="month">
                    <option value="">Month</option>
                    <!-- 1~12월까지의 월을 생성 -->
                    <script>
                      for (let month = 1; month <= 12; month++) {
                        document.write(`<option value="${month}">${month}</option>`);
                      }
                    </script>
                  </select>
                </div>
                <div class="col">
                  <select id="formUserDay" class="form-select" name="day">
                    <option value="">Day</option>
                    <!-- 1~31일까지의 일을 생성 -->
                    <script>
                      for (let day = 1; day <= 31; day++) {
                        document.write(`<option value="${day}">${day}</option>`);
                      }
                    </script>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="formUserEmail" class="form-label">Email <span class="text-danger">*</span></label>
            <div class="form-input-wrap">
              <input type="email" class="form-control" id="formUserEmail" name="email" placeholder="Please enter your email."/>
              <div class="invalid-feedback" id="email-invalid-feedback" style="display: none;">
                This is not a valid email format.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="formUserCountry" class="form-label">Country</label>
            <div class="form-input-wrap">
              <select id="formUserCountry" class="form-select" name="nation">
                <option value="KR">South Korea</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="formUserTime" class="form-label">Preferred Time</label>
            <div class="form-input-wrap">
              <select id="formUserTime" class="form-select" name="needTime">
                <option value="SEOUL">Asia/Seoul (GMT +09:00)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="formUserJob" class="form-label">Job <span class="text-danger">*</span></label>
            <div class="form-input-wrap">
              <select id="formUserJob" class="form-select" name="jobCategory">
                <option value="EC">Expert Consulting</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="formArea" class="form-label">Career Domain </label>
            <div class="form-input-wrap">
              <select id="formArea" class="form-select" name="area">
                <option value="C">Corporation</option>
                <option value="S">Academia/Research Institutions</option>
                <option value="W">Public Sector</option>
                <option value="ST">Startup</option>
                <option value="M">Media/Press</option>
                <option value="ETC">Other Specialized Sectors</option>
              </select>
            </div>
            <div class="col-auto flex-grow-1">
              <div class="form-input-wrap" id="extraInputBox" style="display:none;">
                <input type="text" class="form-control" id="areaEtc" name="areaEtc" placeholder="Please enter the content."/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="formDetailJob" class="form-label flex-shrink-0">Expertise <span class="text-danger">*</span></label>
            <div class="flex-grow-1">
              <div class="row align-items-center g-3">
                <div class="col-auto">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formDetailJob1" name="jobCategoryDetail" value="AI"/>
                    <label class="form-check-label" for="formDetailJob1">AI, DX, 5G, Smart-X(mobility, factory, health..)</label>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formDetailJob2" name="jobCategoryDetail" value="EN"/>
                    <label class="form-check-label" for="formDetailJob2">Alternative Energy, Secondary Battery</label>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formDetailJob3" name="jobCategoryDetail" value="AD"/>
                    <label class="form-check-label" for="formDetailJob3">Autonomous Driving, Unmanned Technology</label>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formDetailJob4" name="jobCategoryDetail" value="IDC"/>
                    <label class="form-check-label" for="formDetailJob4">IDC, Telecommunication, Network</label>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formDetailJob5" name="jobCategoryDetail" value="BB"/>
                    <label class="form-check-label" for="formDetailJob5">Bio Technology, Cosmetics, Beauty Tech</label>
                  </div>
                </div>
                <div class="col-auto flex-grow-1">
                  <div class="row align-items-center gap-2">
                    <div class="col-auto">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="formDetailJob6" name="jobCategoryDetail" value="ETC"/>
                        <label class="form-check-label" for="formDetailJob6">Others(Please write)</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-input-wrap">
                        <input type="text" class="form-control" id="jobCategoryEtc" placeholder="Please enter." name="jobCategoryEtc" disabled/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-header mt-6">
          <div class="form-title">Career Information</div>
        </div>
        <div class="form" style="--labelWidth: 120px">
          <div class="form-group">
            <label for="formLinkedinUrl" class="form-label">Linkedin URL</label>
            <div class="form-input-wrap">
              <input type="text" class="form-control" id="formLinkedinUrl" name="linkedinUrl" placeholder="Please enter the URL."/>
            </div>
          </div>
        </div>
        <div id="career-section-container">
          <!-- 경력정보 1 -->
          <div class="form-header-2nd mt-4">
            <div class="form-subtitle">Career Information 1</div>
            <div class="form-help">
              <div class="d-flex align-items-center gap-4">
                <p>Please enter your career starting from the earliest period.</p>
                <button type="button" class="btn btn-outline-dark btn-sm add-career-btn">Add Career Information</button>
              </div>
            </div>
          </div>
          <div class="form" style="--labelWidth: 120px">
            <div class="form-group">
              <label for="formUserCompany1" class="form-label">Company Name <span class="text-danger">*</span></label>
              <div class="form-input-wrap">
                <input type="text" class="form-control" id="formUserCompany1" name="companyName" placeholder="Please enter the Company name."/>
              </div>
            </div>
            <div class="form-group">
              <label for="formCompanyPosition1" class="form-label">Department/Title </label>
              <div class="form-input-wrap">
                <input type="text" class="form-control" id="formCompanyPosition1" name="rankName" placeholder="Please enter your Department/Title."/>
              </div>
            </div>
            <div class="form-group">
              <label for="formWorkPeriod1_1" class="form-label">Employment Period</label>
              <div class="form-input-wrap">
                <div class="row align-items-center">
                  <div class="col">
                    <input type="text" class="form-control" id="formWorkPeriod1_1" name="careerStartDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                  </div>
                  <div class="col-auto">~</div>
                  <div class="col">
                    <input type="text" class="form-control" id="formWorkPeriod1_2" name="careerEndDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="formTask1" class="form-label">Duty/Reponsibility <span class="text-danger">*</span></label>
              <div class="flex-grow-1">
                <textarea id="formTask1" class="form-control" name="job" placeholder="Please enter the content."></textarea>
              </div>
            </div>
          </div>

          <!-- 경력정보 2 -->
          <div class="form-header-2nd mt-4">
            <div class="form-subtitle">Career Information 2</div>
            <div class="form-help">
              <div class="d-flex align-items-center gap-4">
                <button type="button" class="btn btn-outline-danger btn-sm delete-career-btn">Delete</button>
              </div>
            </div>
          </div>
          <div class="form" style="--labelWidth: 120px">
            <div class="form-group">
              <label for="formUserCompany2" class="form-label">Company Name <span class="text-danger">*</span></label>
              <div class="form-input-wrap">
                <input type="text" class="form-control" id="formUserCompany2" name="companyName" placeholder="Please enter the Company name."/>
              </div>
            </div>
            <div class="form-group">
              <label for="formCompanyPosition2" class="form-label">Department/Title </label>
              <div class="form-input-wrap">
                <input type="text" class="form-control" id="formCompanyPosition2" name="rankName" placeholder="Please enter your Department/Title."/>
              </div>
            </div>
            <div class="form-group">
              <label for="formWorkPeriod1_1_2" class="form-label">Employment Period</label>
              <div class="form-input-wrap">
                <div class="row align-items-center">
                  <div class="col">
                    <input type="text" class="form-control" id="formWorkPeriod1_1_2" name="careerStartDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                  </div>
                  <div class="col-auto">~</div>
                  <div class="col">
                    <input type="text" class="form-control" id="formWorkPeriod1_2_2" name="careerEndDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="formTask2" class="form-label">Duty/Reponsibility <span class="text-danger">*</span></label>
              <div class="flex-grow-1">
                <textarea id="formTask2" class="form-control" name="job" placeholder="Please enter."></textarea>
              </div>
            </div>
          </div>

          <!-- 경력정보 3 -->
          <div class="form-header-2nd mt-4">
            <div class="form-subtitle">Career Information 3</div>
            <div class="form-help">
              <div class="d-flex align-items-center gap-4">
                <button type="button" class="btn btn-outline-danger btn-sm delete-career-btn">Delete</button>
              </div>
            </div>
          </div>
          <div class="form" style="--labelWidth: 120px">
            <div class="form-group">
              <label for="formUserCompany3" class="form-label">Company Name <span class="text-danger">*</span></label>
              <div class="form-input-wrap">
                <input type="text" class="form-control" id="formUserCompany3" name="companyName" placeholder="Please enter the Company name."/>
              </div>
            </div>
            <div class="form-group">
              <label for="formCompanyPosition3" class="form-label">Department/Title </label>
              <div class="form-input-wrap">
                <input type="text" class="form-control" id="formCompanyPosition3" name="rankName" placeholder="Please enter your Department/Title."/>
              </div>
            </div>
            <div class="form-group">
              <label for="formWorkPeriod1_1_3" class="form-label">Employment Period</label>
              <div class="form-input-wrap">
                <div class="row align-items-center">
                  <div class="col">
                    <input type="text" class="form-control" id="formWorkPeriod1_1_3" name="careerStartDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                  </div>
                  <div class="col-auto">~</div>
                  <div class="col">
                    <input type="text" class="form-control" id="formWorkPeriod1_2_3" name="careerEndDt" placeholder="YYYY-MM-DD" data-picker="date"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="formTask3" class="form-label">Duty/Reponsibility <span class="text-danger">*</span></label>
              <div class="flex-grow-1">
                <textarea id="formTask3" class="form-control" name="job" placeholder="Please enter."></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="form-header mt-6">
          <div class="form-title">Self-introduction</div>
        </div>
        <div class="form" style="--labelWidth: 120px">
          <textarea class="form-control" placeholder="Let us know about you and your career edge(less than 1000 characters)" name="selfIntroKr" rows="5"></textarea>
        </div>
        <div class="form-header mt-4">
          <div class="form-title">Upload Resume</div>
          <div class="form-help">Please upload your career description in PDF or Word format.</div>
        </div>
        <div class="form" style="--labelWidth: 120px">
          <div class="form-group">
            <label for="fileSeq" class="form-label">Korean Resume</label>
            <div class="flex-grow-1">
              <div class="row align-items-center">
                <div class="col">
                  <input type="file" class="form-control" id="fileSeq" multiple="multiple" placeholder="No file selected"/>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-dark" data-role="fileUpload" data-target="fileSeq">Browse files</button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="subSeq" class="form-label">English Resume</label>
            <div class="flex-grow-1">
              <div class="row align-items-center">
                <div class="col">
                  <input type="file" class="form-control" id="subSeq" multiple="multiple" placeholder="No file selected"/>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-dark" data-role="fileUpload" data-target="subSeq">Browse files</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-header mt-6">
          <div class="form-title">Availability & Preference</div>
        </div>
        <div class="form" style="--labelWidth: 120px">
          <div class="form-group">
            <label for="formTimezoneA" class="form-label">Preferred consulting time <span
                    class="text-danger">*</span></label>
            <div class="flex-grow-1">
              <div class="row align-items-center gx-3">
                <div class="col-auto">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formWeekendY" name="advisoryNeedTime" value="WEEKDAY"/>
                    <label class="form-check-label" for="formWeekendY">Available on Weekdays</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-input-wrap max-width-none">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <select class="form-select" name="weekDayAdvisoryStartDt" id="weekDayAdvisoryStartDt">
                          <option value="">Start Time</option>
                        </select>
                      </div>
                      <div class="col-auto">~</div>
                      <div class="col-auto">
                        <select class="form-select" name="weekDayAdvisoryEndDt" id="weekDayAdvisoryEndDt">
                          <option value="">End Time</option>
                        </select>
                      </div>
                      <div class="col-auto">
                        <select class="form-select" name="weekDayOption">
                          <option value="noHoli">Excluding Holidays</option>
                          <option value="yesHoli">Including Holidays</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center gx-3 mt-2">
                <div class="col-auto">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formWeekendN" name="advisoryNeedTime" value="WEEKEND"/>
                    <label class="form-check-label" for="formWeekendN">Available on Weekends</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-input-wrap max-width-none">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <select class="form-select" name="weekendOption" id="weekendOption">
                          <option value="ssok">Available on Saturdays and Sundays</option>
                          <option value="onlyTo">Only Available on Saturdays</option>
                          <option value="onlyIo">Only Available on Sundays</option>
                        </select>
                      </div>
                      <div class="col-auto">
                        <select class="form-select" name="weekendAdvisoryStartDt" id="weekendAdvisoryStartDt">
                          <option value="">Start Time</option>
                        </select>
                      </div>
                      <div class="col-auto">~</div>
                      <div class="col-auto">
                        <select class="form-select" name="weekendAdvisoryEndDt" id="weekendAdvisoryEndDt">
                          <option value="">End Time</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center gx-3 mt-2">
                <div class="col-auto">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="formTF" name="advisoryNeedTime" value="TF"/>
                    <label class="form-check-label" for="formTF">Available for TF participation (1 full weekday per week)</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="formLangA" class="form-label">Consulting Language</label>
            <div class="form-input-wrap">
              <div class="row">
                <div class="col">
                  <select id="formLangA" class="form-select" name="advisoryLang1">
                    <option value="KR">Korean</option>
                  </select>
                </div>
                <div class="col">
                  <select id="formLangB" class="form-select" name="advisoryLang2">
                    <option value="">Select Language</option>
                    <option value="EN">English</option>
                    <option value="CN">Chinese</option>
                    <option value="JP">Japanese</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="formPrice" class="form-label">Reward Rate/Hour <span class="text-danger">*</span></label>
            <div class="form-input-wrap">
              <div class="row">
                <div class="col-5">
                  <input type="text" class="form-control" id="formPrice" name="timeAdvisory" inputmode="numeric"
                         placeholder="Enter amount"/>
                </div>
                <div class="col-7">
                  <select class="form-select" name="timeAdvisoryOption">
                    <option value="USD">USD</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 mt-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="formPrivacyAgree" name="infoAgreeYn"/>
            <label class="form-check-label">I agree to the <span class="text-primary text-decoration-underline cursor-pointer">collection and use of personal information</span> </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="formTermsAgree" name="useAgreeYn"/>
            <label class="form-check-label">I agree to the <span class="text-primary text-decoration-underline cursor-pointer">terms and conditions.</span> </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="formParticipationAgree" name="expertSolutionYn"/>
            <label class="form-check-label">I agree to the <span class="text-primary text-decoration-underline cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal-expert-participation-en">participation in expert advisory.</span> </label>
          </div>
        </div>
      </div>
      <div class="form-footer gap-2">
        <button type="button" class="btn btn-outline-secondary" data-role="main">Go to Main Page</button>
        <button type="button" class="btn btn-secondary" data-role="tempSave">Save as Draft</button>
        <button type="button" class="btn btn-primary" data-role="save">Final Submission</button>
      </div>
    </div>
    </body>
  </div>
</div>
</html>