<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<div layout:fragment="contents" th:remove="tag">
    <input type="hidden" name="result" th:data-value="${result}">
    <input type="hidden" name="custNo" th:data-value="${loginUser.custNo}">
    <div class="main-container">
        <div class="container">
            <div class="info-card-wrap row">
                <div class="col-12 col-lg-6">
                    <div class="img-card">
                        <img src="/static/images/payment-img-card.svg" alt=""/>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="desc-card">
                        <div>
                            <div class="form-wrap disabled">
                                <p class="form-title">이름</p>
                                <input type="text" class="form-control form-lg" placeholder="" th:value="${loginUser.custName}" disabled/>
                            </div>
                            <div class="form-wrap disabled">
                                <p class="form-title">고객번호</p>
                                <input type="text" class="form-control form-lg" placeholder="" th:value="${loginUser.custNo}" disabled/>
                            </div>
                            <div class="form-wrap disabled">
                                <p class="form-title">아이디</p>
                                <input type="text" class="form-control form-lg" placeholder="" th:value="${loginUser.webId}" disabled/>
                            </div>
                            <div class="form-wrap">
                                <p class="form-title">급식비 런치카드 충전</p>
                                <select name="chargeAmount" id="chargeAmount" class="form-select">
                                    <option value="10000">10,000원</option>
                                    <option value="20000">20,000원</option>
                                    <option value="30000">30,000원</option>
                                    <option value="50000">50,000원</option>
                                    <option value="100000">100,000원</option>
                                    <option value="200000">200,000원</option>
                                </select>
                            </div>
                            <div class="total-payment-price">
                                <p class="title">결제금액</p>
                                <p class="price" data-field-name="disp_chargeAmount">10,000원</p>
                            </div>
                        </div>
                        <div class="payment-btn">
                            <button type="button" id="btn-payment" class="btn btn-dark btn-lg w-100">결제하기</button>
                        </div>
                    </div>
                    <div class="commnet-wrap">
                        <ul>
                            <li>※ 학교 급식비 런치카드 충전 결제(충전 결제된 금액은 충전된 날짜부터 6개월 이내에 사용 가능합니다.)</li>
                            <li>※ 신한은행 카드 소유자 본인 : 신한은행 규정 변경으로 인해 해당 카드의 충전/결제는 1일 1회, 최대 50,000원으로 제한됩니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>