<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout-en}">
<div layout:fragment="contents" th:remove="tag">
    <div class="main-container">
        <div class="container">
            <div class="payment-wrap">
                <div class="payment-head">
                    <p class="title">Charge Breakdown</p>
                    <form name="searchForm">
                        <div class="daterange-wrap">
                            <input type="text" class="form-control" placeholder="YYYY.MM.DD" data-picker="date" name="searchStart"/>
                            <div class="hyphen"></div>
                            <input type="text" class="form-control" placeholder="YYYY.MM.DD" data-picker="date" name="searchEnd"/>
                            <button type="button" class="btn btn-dark" data-role="btn-search-form">Search</button>
                        </div>
                    </form>
                </div>
                <div class="table-container">
                    <div class="table-top">
                        <div class="d-flex align-items-center gap-3">
                            <p class="table-top-title">Total Payment Records</p>
                            <p class="table-top-desc">Total <span th:text="${searchInfo.totalCount}">26</span></p>
                        </div>
                    </div>
                    <table class="table border-table payment">
                        <colgroup>
                            <col width="33.3%"/>
                            <col width="33.3%"/>
                            <col width="33.3%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="text-center">Date</th>
                            <th class="text-center">Views</th>
                            <th class="text-center">Payment Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:if="${#lists.isEmpty(paymentChargeList)}">
                                <tr>
                                    <td colspan="6" class="text-center">There is no history.</td>
                                </tr>
                            </th:block>
                            <tr th:each="list : ${paymentChargeList}">
                                <td class="text-center" th:text="${list.fDate}">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center" th:text="${list.createDt}">
                                    <p>10:18:30</p>
                                </td>
                                <td class="text-center" th:text="${list.amnt != null and list.amnt != 0} ? ${#numbers.formatInteger(list.amnt, 3, 'COMMA')} : '0'">
                                    <p>91,100</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav th:if="${searchInfo.totalPage != null and searchInfo.totalPage >= 1}">
                        <ul class="pagination justify-content-center">
                            <!-- 첫 페이지 -->
                            <li class="page-item" th:classappend="${searchInfo.page == 1} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/fo/lunch-payment-history-en(page=1, searchType=${searchInfo.searchType}, searchValue=${searchInfo.searchValue})}"
                                   aria-label="First">
                                    <i class="icon-pagination-first"></i>
                                </a>
                            </li>
                            <!-- 이전 페이지 -->
                            <li class="page-item" th:classappend="${searchInfo.page == 1} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/fo/lunch-payment-history-en(page=${searchInfo.page - 1}, searchType=${searchInfo.searchType}, searchValue=${searchInfo.searchValue})}"
                                   aria-label="Previous">
                                    <i class="icon-pagination-prev"></i>
                                </a>
                            </li>
                            <!-- 페이지 번호 -->
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(searchInfo.startPage, searchInfo.endPage)}"
                                th:classappend="${i == searchInfo.page} ? 'active' : ''"
                                th:attr="aria-current=${i == searchInfo.page ? 'page' : null}">
                                <a class="page-link"
                                   th:href="@{/fo/lunch-payment-history-en(page=${i}, searchType=${searchInfo.searchType}, searchValue=${searchInfo.searchValue})}"
                                   th:text="${i}">1</a>
                            </li>
                            <!-- 다음 페이지 -->
                            <li class="page-item" th:classappend="${searchInfo.page == searchInfo.totalPage} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/fo/lunch-payment-history-en(page=${searchInfo.page + 1}, searchType=${searchInfo.searchType}, searchValue=${searchInfo.searchValue})}"
                                   aria-label="Next">
                                    <i class="icon-pagination-next"></i>
                                </a>
                            </li>
                            <!-- 마지막 페이지 -->
                            <li class="page-item" th:classappend="${searchInfo.page == searchInfo.totalPage} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/fo/lunch-payment-history-en(page=${searchInfo.totalPage}, searchType=${searchInfo.searchType}, searchValue=${searchInfo.searchValue})}"
                                   aria-label="Last">
                                    <i class="icon-pagination-last"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</html>