<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<div layout:fragment="contents" th:remove="tag">
    <div class="dimmed"></div>
    <div class="main-container">
        <div class="container">
            <div class="payment-wrap">
                <div class="payment-head">
                    <p class="title">급식 결제 내역</p>
                    <div class="daterange-wrap">
                        <input type="text" class="form-control" placeholder="YYYY.MM.DD" data-picker="date"/>
                        <div class="hyphen"></div>
                        <input type="text" class="form-control" placeholder="YYYY.MM.DD" data-picker="date"/>
                        <button type="button" class="btn btn-dark">조회하기</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table-top">
                        <div class="d-flex align-items-center gap-3">
                            <p class="table-top-title">전체 결제내역</p>
                            <p class="table-top-desc">총 <span>26</span>개</p>
                        </div>
                    </div>
                    <table class="table border-table payment">
                        <colgroup>
                            <col width="33.3%"/>
                            <col width="33.3%"/>
                            <col width="33.3%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="text-center">날짜</th>
                            <th class="text-center">조회수</th>
                            <th class="text-center">급식결제급액</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">
                                <p class="">2025-06-30</p>
                            </td>
                            <td class="text-center">
                                <p>10:18:30</p>
                            </td>
                            <td class="text-center">
                                <p>91,100</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <p class="">2025-06-30</p>
                            </td>
                            <td class="text-center">
                                <p>10:18:30</p>
                            </td>
                            <td class="text-center">
                                <p>91,100</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <p class="">2025-06-30</p>
                            </td>
                            <td class="text-center">
                                <p>10:18:30</p>
                            </td>
                            <td class="text-center">
                                <p>91,100</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <p class="">2025-06-30</p>
                            </td>
                            <td class="text-center">
                                <p>10:18:30</p>
                            </td>
                            <td class="text-center">
                                <p>91,100</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <p class="">2025-06-30</p>
                            </td>
                            <td class="text-center">
                                <p>10:18:30</p>
                            </td>
                            <td class="text-center">
                                <p>91,100</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <p class="">2025-06-30</p>
                            </td>
                            <td class="text-center">
                                <p>10:18:30</p>
                            </td>
                            <td class="text-center">
                                <p>91,100</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <p class="">2025-06-30</p>
                            </td>
                            <td class="text-center">
                                <p>10:18:30</p>
                            </td>
                            <td class="text-center">
                                <p>91,100</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <p class="">2025-06-30</p>
                            </td>
                            <td class="text-center">
                                <p>10:18:30</p>
                            </td>
                            <td class="text-center">
                                <p>91,100</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <p class="">2025-06-30</p>
                            </td>
                            <td class="text-center">
                                <p>10:18:30</p>
                            </td>
                            <td class="text-center">
                                <p>91,100</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <p class="">2025-06-30</p>
                            </td>
                            <td class="text-center">
                                <p>10:18:30</p>
                            </td>
                            <td class="text-center">
                                <p>91,100</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="First">
                                    <i class="icon-pagination-first"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <i class="icon-pagination-prev"></i>
                                </a>
                            </li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <i class="icon-pagination-next"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Last">
                                    <i class="icon-pagination-last"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</html>