<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout-en}">
<div layout:fragment="contents" th:remove="tag">
    <body>
    <div id="wrap">
        <main id="main">
            <div class="main-container main-page">
                <section class="main-slide-section">
                    <div class="main-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="text-box">
                                        <div class="title">
                                            <p class="brand">Cezars,</p>
                                            <p>
                                                A Meal That<br/>Ensures a Healthy<br/>
                                                Day for Kids
                                            </p>
                                        </div>
                                        <p class="desc">Safe and nutritious meals <br/>our promise for your children.
                                        </p>
                                    </div>
                                    <div class="img">
                                        <img src="/static/images/slide-img-01.svg" alt=""/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="text-box">
                                        <div class="title">
                                            <p class="brand">Cezars,</p>
                                            <p>
                                                A Meal That<br/>Ensures a Healthy<br/>
                                                Day for Kids
                                            </p>
                                        </div>
                                        <p class="desc">Safe and nutritious meals <br/>our promise for your children.
                                        </p>
                                    </div>
                                    <div class="img">
                                        <img src="/static/images/slide-img-01.svg" alt=""/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="text-box">
                                        <div class="title">
                                            <p class="brand">Cezars,</p>
                                            <p>
                                                A Meal That<br/>Ensures a Healthy<br/>
                                                Day for Kids
                                            </p>
                                        </div>
                                        <p class="desc">Safe and nutritious meals <br/>our promise for your children.
                                        </p>
                                    </div>
                                    <div class="img">
                                        <img src="/static/images/slide-img-01.svg" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <!-- Prev/Next Buttons -->
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="container">
                        <div class="link-page">
                            <a href="/fo/lunch-payment-en">
                                <i class="icon-lunch"></i>
                                Charge/Pay
                            </a>
                            <a href="/fo/lunch-payment-history-en">
                                <i class="icon-payment"></i>
                                Charge Breakdown
                            </a>
                            <a href="/fo/use-history-en">
                                <i class="icon-history"></i>
                                Details Of Usage
                            </a>
                            <a href="/fo/myinfo-en">
                                <i class="icon-myinfo"></i>
                                My Profile
                            </a>
                        </div>
                    </div>
                </section>
                <section class="notice-section">
                    <div class="container">
                        <div class="notice-wrap row">
                            <div class="col-12 col-lg-6">
                                <div class="notice-head">
                                    <div class="title">
                                        <i class="icon-announcement"></i>
                                        Notice
                                    </div>
                                    <a href="" class="more-link">More <i class="icon-right-arrow"></i></a>
                                </div>
                                <table class="table">
                                    <colgroup>
                                        <col/>
                                        <col width="20%"/>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">August Meal Service Schedule</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">Information on updating the school lunch menu</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">System Maintenance Notice (2:00-4:00 AM, 8/10)</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="notice-head">
                                    <div class="title">
                                        <i class="icon-board"></i>
                                        Bulletin Board
                                    </div>
                                    <a href="" class="more-link">More <i class="icon-right-arrow"></i></a>
                                </div>
                                <table class="table">
                                    <colgroup>
                                        <col/>
                                        <col width="20%"/>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">These days, my child is completely obsessed with
                                                this side dish :)</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">I was so happy to see the lunch today! It reminded
                                                me of my old school days.</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">Has anyone tried following the recipes from school
                                                lunches at home?</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <script>
        $(document).ready(function () {
            // Swiper 초기화
            const swiper = new Swiper('.swiper', {
                slidesPerView: 1,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true, // dot 클릭 가능
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                autoplay: {
                    delay: 3000, // 3초마다 자동 슬라이드
                    disableOnInteraction: false, // 사용자 조작 이후에도 계속 자동재생
                },
            });
        });
    </script>
    </body>
</div>
</html>
