<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<div layout:fragment="contents" th:remove="tag">
    <body>
    <div id="wrap">
        <main id="main">
            <div class="main-container main-page">
                <section class="main-slide-section">
                    <div class="main-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="text-box">
                                        <div class="title">
                                            <p class="brand">Cezars,</p>
                                            <p>아이들의 건강한 하루를<br/>책임지는 한 끼</p>
                                        </div>
                                        <p class="desc">안심할 수 있는 식사, 아이들을 위한 약속입니다.</p>
                                    </div>
                                    <div class="img">
                                        <img src="/static/images/slide-img-01.svg" alt=""/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="text-box">
                                        <div class="title">
                                            <p class="brand">Cezars,</p>
                                            <p>아이들의 건강한 하루를<br/>책임지는 한 끼</p>
                                        </div>
                                        <p class="desc">안심할 수 있는 식사, 아이들을 위한 약속입니다.</p>
                                    </div>
                                    <div class="img">
                                        <img src="/static/images/slide-img-01.svg" alt=""/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="text-box">
                                        <div class="title">
                                            <p class="brand">Cezars,</p>
                                            <p>아이들의 건강한 하루를<br/>책임지는 한 끼</p>
                                        </div>
                                        <p class="desc">안심할 수 있는 식사, 아이들을 위한 약속입니다.</p>
                                    </div>
                                    <div class="img">
                                        <img src="/static/images/slide-img-01.svg" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <!-- Prev/Next Buttons -->
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="container">
                        <div class="link-page">
                            <a href="">
                                <i class="icon-lunch"></i>
                                급식결제
                            </a>
                            <a href="">
                                <i class="icon-payment"></i>
                                결제내역
                            </a>
                            <a href="">
                                <i class="icon-history"></i>
                                사용내역
                            </a>
                            <a href="">
                                <i class="icon-myinfo"></i>
                                내정보
                            </a>
                        </div>
                    </div>
                </section>
                <section class="notice-section">
                    <div class="container">
                        <div class="notice-wrap row">
                            <div class="col-12 col-lg-6">
                                <div class="notice-head">
                                    <div class="title">
                                        <i class="icon-announcement"></i>
                                        공지사항
                                    </div>
                                    <a href="" class="more-link">더보기 <i class="icon-right-arrow"></i></a>
                                </div>
                                <table class="table">
                                    <colgroup>
                                        <col/>
                                        <col width="20%"/>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">8월 급식 운영 일정 안내</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">급식 식단표 업데이트 안내</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">시스템 점검 안내 (8/10 새벽 2시~4시)</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="notice-head">
                                    <div class="title">
                                        <i class="icon-board"></i>
                                        고객게시판
                                    </div>
                                    <a href="" class="more-link">더보기 <i class="icon-right-arrow"></i></a>
                                </div>
                                <table class="table">
                                    <colgroup>
                                        <col/>
                                        <col width="20%"/>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">요즘 우리 아이는 이 반찬에 푹 빠졌어요 :)</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">오늘 급식 보고 너무 반가웠어요! 예전 학교 다닐 때 생각났네요.</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            <p class="text-truncate">혹시 급식에 나오는 레시피 집에서 따라 해보신 분 계세요?</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="date">2025.07.04</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <script>
        $(document).ready(function () {
            // Swiper 초기화
            const swiper = new Swiper('.swiper', {
                slidesPerView: 1,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true, // dot 클릭 가능
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                autoplay: {
                    delay: 3000, // 3초마다 자동 슬라이드
                    disableOnInteraction: false, // 사용자 조작 이후에도 계속 자동재생
                },
            });
        });
    </script>
</body>
</div>
</html>
