<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout-en}">
<div layout:fragment="contents" th:remove="tag">
    <div class="main-container">
        <div class="payment-wrap">
            <div class="payment-head">
                <p class="title">Menu</p>
                <p class="desc">We introduce all our menus from nutritionally balanced school meals to special catering
                    and finger foods for events, and even simple snacks.</p>
            </div>
            <div class="menu-list">
                <div class="menu-content">
                    <div class="title">
                        <div class="dot-box">
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <p>Monthly Menu</p>
                    </div>
                    <div class="img">
                        <img src="/static/images/banner-01.svg" alt=""/>
                    </div>
                    <button type="button" class="move-arrow">
                        <i class="icon-menu-arrow"></i>
                    </button>
                </div>
                <div class="menu-content">
                    <div class="title">
                        <div class="dot-box">
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <p>Catering Menu</p>
                    </div>
                    <div class="img">
                        <img src="/static/images/banner-02.svg" alt=""/>
                    </div>
                    <button type="button" class="move-arrow">
                        <i class="icon-menu-arrow"></i>
                    </button>
                </div>
                <div class="menu-content">
                    <div class="title">
                        <div class="dot-box">
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <p>Finger Food Menu</p>
                    </div>
                    <div class="img">
                        <img src="/static/images/banner-03.svg" alt=""/>
                    </div>
                    <button type="button" class="move-arrow">
                        <i class="icon-menu-arrow"></i>
                    </button>
                </div>
                <div class="menu-content">
                    <div class="title">
                        <div class="dot-box">
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <p>Snacks & Prices</p>
                    </div>
                    <div class="img">
                        <img src="/static/images/banner-04.svg" alt=""/>
                    </div>
                    <button type="button" class="move-arrow">
                        <i class="icon-menu-arrow"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>