<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout-en}">
<div layout:fragment="contents" th:remove="tag">
    <div class="main-container">
        <div class="container">
            <div class="info-card-wrap row">
                <div class="col-12 col-lg-6">
                    <div class="img-card">
                        <img src="/static/images/en-info-img-card.svg" alt=""/>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="desc-card info">
                        <div>
                            <div class="form-wrap disabled">
                                <p class="form-title">Name</p>
                                <input type="text" class="form-control form-lg" placeholder="" value="Byoung Gul Cho"
                                       disabled/>
                            </div>
                            <div class="form-wrap disabled">
                                <p class="form-title">Card ID Number</p>
                                <input type="text" class="form-control form-lg" placeholder="" value="110323" disabled/>
                            </div>
                            <div class="form-wrap disabled">
                                <p class="form-title">Code</p>
                                <input type="text" class="form-control form-lg" placeholder="" value="00001247"
                                       disabled/>
                            </div>
                            <div class="form-wrap disabled">
                                <p class="form-title">ID</p>
                                <input type="text" class="form-control form-lg" placeholder="" value="sougetsu"
                                       disabled/>
                            </div>
                            <div class="form-wrap">
                                <p class="form-title">Password</p>
                                <input type="password" class="form-control form-lg" placeholder="Enter your password."
                                       value=""/>
                            </div>
                            <div class="form-wrap">
                                <p class="form-title">Password Check</p>
                                <input type="password" class="form-control form-lg" placeholder="Enter your password."
                                       value=""/>
                            </div>
                        </div>
                        <div class="btns">
                            <button type="button" class="btn btn-dark btn-lg w-100">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>