<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout-en}">
<div layout:fragment="contents" th:remove="tag">
    <div class="main-container">
        <div class="container">
            <div class="notice-wrap">
                <div class="borad-head">
                    <p class="title">Bulletin Board</p>
                    <p class="desc">You can talk about everything related to school meals here.</p>
                    <form name="searchForm">
                        <div class="search-content">
                            <div class="form-wrap">
                                <select name="searchType" id="" class="form-select form-md round">
                                    <option value="ALL" th:selected="${searchInfo.searchType == 'ALL'}">ALL</option>
                                    <option value="USER" th:selected="${searchInfo.searchType == 'USER'}">USER</option>
                                    <option value="TITLE" th:selected="${searchInfo.searchType == 'TITLE'}">TITLE</option>
                                </select>
                            </div>
                            <div class="form-field search">
                                <div class="input-form">
                                    <i class="icon-search"></i>
                                    <input type="text" class="form-control search-form form-md round" name="searchValue" th:value="${searchInfo.searchValue}"
                                           placeholder="Enter a keyword to search."/>
                                    <button type="button" class="clear-button" data-role="btn-search-form">
                                        <i class="icon-input-close"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-container">
                    <div class="table-top">
                        <div class="d-flex align-items-center gap-3">
                            <p class="table-top-title">All Posts</p>
                            <p class="table-top-desc">Total Posts <span th:text="${searchInfo.totalCount}">312</span></p>
                        </div>
                        <button type="button" class="btn btn-outline-primary" onclick="location.href='/fo/notice-board-form-en'" style="outline-color: #ff974d;">
                            <i class="icon-write"></i> Write Post
                        </button>
                    </div>
                    <div class="scroll-layout">
                        <table class="table border-table">
                            <colgroup>
                                <col width="5%"/>
                                <col width="59%"/>
                                <col width="15%"/>
                                <col width="13%"/>
                                <col width="8%"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-start">Title</th>
                                <th class="text-center">Author</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Views</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${#lists.isEmpty(noticeBoardListEn)}">
                                <tr>
                                    <td colspan="6" class="text-center">There is no history.</td>
                                </tr>
                            </th:block>
                            <tr th:each="list : ${noticeBoardListEn}">
                                <td class="text-center" th:text="${list.rowNum}">
                                    <p class="">124</p>
                                </td>
                                <td class="text-start">
                                    <div class="d-flex align-items-center gap-2">
                                        <th:block th:if="${list.passwordYn == 'Y'}">
                                            <i class="icon-lock"></i>
                                            <a href="javascript:void(0);" class="board-desc text-truncate secret-link"
                                               th:data-qna-id="${list.qnaId}">
                                                <span>This is a secret post.</span>
                                                <span class="comment" th:text="${'[' + list.replyCnt + ']'}">[0]</span>
                                            </a>
                                        </th:block>
                                        <th:block th:unless="${list.passwordYn == 'Y'}">
                                            <a th:href="@{/fo/notice-board-detail-en(qnaId=${list.qnaId})}" class="board-desc text-truncate">
                                                <span th:text="${list.title}">Title</span>
                                                <span class="comment" th:text="${'[' + list.replyCnt + ']'}">[0]</span>
                                            </a>
                                        </th:block>
                                    </div>
                                </td>
                                <td class="text-center" th:text="${list.custName}">
                                    <p class="author"><i class="icon-author"></i> 사용자 1</p>
                                </td>
                                <td class="text-center" th:text="${list.createDt}">
                                    <p class="date">2025.07.04</p>
                                </td>
                                <td class="text-center" th:text="${list.viewCnt}">
                                    <p class="">184</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav th:if="${searchInfo.totalPage != null and searchInfo.totalPage >= 1}">
                        <ul class="pagination justify-content-center">
                            <!-- 첫 페이지 -->
                            <li class="page-item" th:classappend="${searchInfo.page == 1} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/fo/notice-announcement-en(page=1, searchType=${searchInfo.searchType}, searchValue=${searchInfo.searchValue})}"
                                   aria-label="First">
                                    <i class="icon-pagination-first"></i>
                                </a>
                            </li>
                            <!-- 이전 페이지 -->
                            <li class="page-item" th:classappend="${searchInfo.page == 1} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/fo/notice-announcement-en(page=${searchInfo.page - 1}, searchType=${searchInfo.searchType}, searchValue=${searchInfo.searchValue})}"
                                   aria-label="Previous">
                                    <i class="icon-pagination-prev"></i>
                                </a>
                            </li>
                            <!-- 페이지 번호 -->
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(searchInfo.startPage, searchInfo.endPage)}"
                                th:classappend="${i == searchInfo.page} ? 'active' : ''"
                                th:attr="aria-current=${i == searchInfo.page ? 'page' : null}">
                                <a class="page-link"
                                   th:href="@{/fo/notice-announcement-en(page=${i}, searchType=${searchInfo.searchType}, searchValue=${searchInfo.searchValue})}"
                                   th:text="${i}">1</a>
                            </li>
                            <!-- 다음 페이지 -->
                            <li class="page-item" th:classappend="${searchInfo.page == searchInfo.totalPage} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/fo/notice-announcement-en(page=${searchInfo.page + 1}, searchType=${searchInfo.searchType}, searchValue=${searchInfo.searchValue})}"
                                   aria-label="Next">
                                    <i class="icon-pagination-next"></i>
                                </a>
                            </li>
                            <!-- 마지막 페이지 -->
                            <li class="page-item" th:classappend="${searchInfo.page == searchInfo.totalPage} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/fo/notice-announcement-en(page=${searchInfo.totalPage}, searchType=${searchInfo.searchType}, searchValue=${searchInfo.searchValue})}"
                                   aria-label="Last">
                                    <i class="icon-pagination-last"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="modal-pw-write">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-field">
                        <div class="input-form">
                            <input type="text" class="form-control remove-form" placeholder="Please enter the password for the private post." />
                            <button type="button" class="clear-button">
                                <i class="icon-input-close"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex">
                        <button type="button" class="btn btn-lg btn-dark" disabled>Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>