<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<div layout:fragment="contents" th:remove="tag">
    <div class="main-container">
        <div class="container">
            <div class="notice-wrap">
                <div class="borad-head">
                    <p class="title">고객게시판</p>
                    <p class="desc">
                        급식과 관련된 모든 내용을 이곳에서<br class="d-block d-lg-none"/>
                        소통할 수 있습니다.
                    </p>
                </div>
                <div class="write-title">
                    <i class="icon-edit"></i>
                    게시글 작성
                </div>
                <div class="inquiry-wrap">
                    <div class="form-wrap">
                        <p class="form-title">제목</p>
                        <input type="text" class="form-control form-lg" placeholder="제목을 입력해주세요." name="title"/>
                    </div>
                    <div class="form-wrap">
                        <p class="form-title">게시글 비밀번호</p>
                        <div class="d-flex align-items-center gap-5 mt-3 mb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="passwordYn"
                                       id="flexRadioDefault1" value="Y" checked />
                                <label class="form-check-label" for="flexRadioDefault1">설정</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="passwordYn"
                                       id="flexRadioDefault2" value="N" />
                                <label class="form-check-label" for="flexRadioDefault2">설정 안함</label>
                            </div>
                        </div>
                        <input type="password" class="form-control form-lg"
                               placeholder="4자리 숫자의 비밀번호를 입력해주세요." name="password"/>
                    </div>
                    <div class="form-wrap">
                        <label class="title">내용</label>
                        <textarea class="form-control form-lg" name="content" placeholder="내용을 입력해주세요."
                                  style="height: 400px;"></textarea>
                    </div>

                    <div class="commnet-wrap">
                        <ul>
                            <li>※ 쉬운 비밀번호를 입력하면 타인이 수정, 삭제할 가능성이 높아집니다.</li>
                            <li>※ 음란물, 차별, 비하, 혐오 및 초상권, 저작권 침해 게시물은 민, 형사상의 책임을 질 수 있습니다.</li>
                        </ul>
                    </div>
                </div>
                <!-- 버튼 영역 -->
                <div class="btns d-flex align-items-center justify-content-end gap-2 mt-4">
                    <button type="button" class="btn btn-gray btn-md" onclick="location.href='/fo/notice-board'">취소
                    </button>
                    <button type="button" class="btn btn-dark btn-md" data-role="insert">글 게시하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>