<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout-en}">
<div layout:fragment="contents" th:remove="tag">
    <div class="main-container">
        <div class="container">
            <div class="notice-wrap">
                <div class="borad-head">
                    <p class="title">Terms of Service</p>
                </div>
            </div>
            <div class="terms-wrap">
                <div class="svs">
                    <ul>
                        <h2>Article 1 (Purpose)</h2>
                        <li>
                            These terms and conditions are intended to define the rights, obligations, responsibilities,
                            and other necessary matters between the user and the company in using the membership service
                            (hereinafter referred to as the "Service") provided by the Caesar's Kitchen Co., Ltd.
                            (hereinafter referred to as "Caesar's Kitchen") website.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="mt20">Article 2 (Effect and Change of Terms and Conditions)</h2>
                        <li>① These terms and conditions shall be disclosed to users by posting them on the service
                            screen or by other methods, and shall take effect when the user who has agreed to them signs
                            up for the service.
                        </li>
                        <li>② The Company may change the contents of these Terms and Conditions if it deems it
                            necessary, and the changed Terms and Conditions will be announced on the service screen so
                            that users can directly check them.
                        </li>
                        <li>
                            ③ If you do not agree to the changed terms and conditions, you may stop using the service
                            and cancel your membership registration. If you continue to use the service, you will be
                            deemed to have agreed to the changes to the terms and conditions, and the changed terms and
                            conditions
                            will take effect in the same way as in the preceding paragraph.
                        </li>
                        <li>
                            ④ If the user agrees to the contents of these terms and conditions, these terms and
                            conditions will be applied preferentially to the service provision of the corporation and
                            the service use of the user. For matters not specified in these terms and conditions, the
                            Framework Act on
                            Telecommunications, the Telecommunications Business Act, the Act on Promotion of Information
                            and Communications Network Utilization and Information Protection, etc., the Deliberation
                            Regulations of the Information and Communications Ethics Committee, the Information and
                            Communications Ethics Code, the Program Protection Act, and other relevant laws and
                            regulations of the Republic of Korea and commercial practices shall apply.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 3 (Definition of Terms)</h2>
                        <li>
                            ① The definitions of terms used in these terms and conditions are as follows. <br/>
                            1. User: A member or non-member who accesses the service and receives the services provided
                            by the company.<br/>
                            2. Member: A person who has accessed the service, agreed to these terms and conditions, and
                            has been issued an ID (unique number) and PASSWORD (password) and has gone through the real
                            name verification process.<br/>
                            3. Non-member: A person who uses the services provided by the company without signing up for
                            membership.<br/>
                            4. ID (unique number): A combination of English letters and numbers selected by the user and
                            approved by the company for member identification and service use (only one ID can be issued
                            and used for one resident registration number).<br/>
                            5. PASSWORD: A combination of letters and numbers set by the user to protect their
                            information.<br/>
                            6. Termination of use: An expression of intent by the company or a member to terminate the
                            service use contract after using the service.
                        </li>
                        <li>② The definitions of the terms used in these Terms and Conditions shall be governed by the
                            relevant laws and regulations and the service-specific information, except as defined in
                            Paragraph 1.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 4 (Establishment of User Agreement)</h2>
                        <li>The user agreement is established by the user's consent to the terms and conditions and the
                            company's approval of the user's application for use.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 5 (Application for Use)</h2>
                        <li>The application for use is made by the user filling out the personal information in the
                            application form required by the company on the member information screen of the service.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 6 (Approval of Application for Use)</h2>
                        <li>① The company will approve the application for service use as long as there are no special
                            circumstances, provided that the user has accurately entered the information specified in
                            Article 5.
                        </li>
                        <li>
                            ② In the following cases, the company may withhold approval or restrict the use of some
                            services until the reason for the restriction is resolved.<br/>
                            1. If the content is found to be false (e.g., using a borrowed name, not a real name, or
                            using a stolen resident registration number) or if there is a reasonable reason to suspect
                            that it is false.<br/>
                            2. Other cases where the company deems it necessary.
                        </li>
                        <li>
                            ③ The company may not approve the application for use in the following cases. <br/>
                            1. When the application is not made in the applicant's real name.<br/>
                            2. When the application is made using someone else's name.<br/>
                            3. When the application form is filled out with false information.<br/>
                            4. When the application is made for the purpose of undermining public peace and order or
                            good morals.<br/>
                            5. When the requirements for application for use set by the company are not met.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 7 (Changes to Contract)</h2>
                        <li>Members can view and modify their information at any time through member information
                            management. Members must modify the information they entered when applying for use if it has
                            changed, and the member is responsible for any problems that arise from not doing so.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 8 (Service Use)</h2>
                        <li>
                            ① The company will start the service from the time it approves the member's application for
                            use.
                            <br/>
                            However, for some services, the service will start from a designated date.
                        </li>
                        <li>② If the service cannot be started due to business or technical difficulties of the company,
                            it will be announced on the site or notified to the member.
                        </li>
                        <li>
                            ③ The service is available 24 hours a day, 365 days a year in principle. However, the
                            service may be temporarily suspended due to business or technical reasons of the company,
                            and the service may be temporarily suspended for a period determined by the company for
                            operational
                            purposes such as regular inspections. In such cases, the company will announce this in
                            advance or afterwards.
                        </li>
                        <li>④ Even after joining as a member, some services may be provided only to specific members at
                            the request of the service provider.
                        </li>
                        <li>⑤ The company may divide the service into certain ranges and set separate available times
                            for each range. In this case, the details will be announced in advance.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 9 (Changes, Suspension, and Storage and Use of Information)</h2>
                        <li>
                            ① The member agrees that the company is not responsible for any loss of messages and other
                            communication messages stored or transmitted in this service that are not stored, deleted,
                            or not transmitted due to a national emergency, power outage, service facility failure
                            outside the
                            scope of the company's management, and other force majeure.
                        </li>
                        <li>
                            ② If the service needs to be temporarily suspended due to difficulties in providing normal
                            service, the company may suspend the service after giving one week's notice. The company is
                            not responsible for the member's failure to recognize the notice during this period. The
                            prior
                            notice period may be shortened or omitted if there is a valid reason. In addition, the
                            company is not responsible for the loss of messages and other communication messages stored
                            or transmitted in this service that are not stored, deleted, or not transmitted due to the
                            suspension
                            of the service.
                        </li>
                        <li>③ If the service must be permanently discontinued due to the company's circumstances,
                            Paragraph 2 shall apply. However, in this case, the prior notice period shall be one month.
                        </li>
                        <li>④ The company may temporarily modify, change, and suspend the service after prior notice,
                            and shall not be liable to the member or any third party for this.
                        </li>
                        <li>⑤ The company may arbitrarily suspend the use of the service if the member engages in any
                            act that violates the contents of these terms and conditions.
                        </li>
                        In this case, the company may prohibit the member's access and arbitrarily delete all or part of
                        the content posted by the member.
                        <li>⑥ In the case of a long-term dormant member, the service may be suspended after a
                            notification period of one week after an announcement email or notice.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 10 (Provision of Information and Publication of Advertisements)</h2>
                        <li>
                            ① The company may provide members with various information and advertisements that it deems
                            necessary during their use of the service through methods such as e-mail, postal mail, SMS
                            (mobile phone text messages), DM, and messengers. If a member receives unwanted information,
                            they
                            may refuse to receive it.
                        </li>
                        <li>② The company may post advertisements on the service screen, homepage, e-mail, etc. in
                            connection with the operation of the service, and the company considers that members who
                            wish to use the service agree to the posting of these advertisements.
                        </li>
                        <li>③ The company is not responsible for any loss or damage that occurs as a result of a
                            member's participation in, communication with, or transaction with an advertiser's
                            promotional activities on or through the service.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 11 (Deletion of Posts or Content)</h2>
                        <li>
                            ① The company may delete any content posted or registered by a member within the service
                            without prior notice if it is determined to fall under any of the following cases, and the
                            company shall not be liable for this. 1. Content that defames or slanders the company, other
                            members,
                            or third parties. 2. Content that violates public order and morals. 3. Content that is
                            recognized as being connected to a criminal act. 4. Content that infringes on the copyrights
                            or other rights of a third party. 5. Information that is not consistent with the nature of
                            the
                            service. 6. Content that violates other relevant laws and regulations and the regulations
                            set by the company.
                        </li>
                        <li>② The company has the right to edit, move, or delete content posted on the service 3 days
                            after prior notice. Content that violates these terms and conditions, is commercial,
                            illegal, or unsound, and posts by terminated members may be deleted without prior notice.
                        </li>
                        <li>③ If a post has passed a certain period of time and has lost its effectiveness as a post,
                            and its purpose of existence is unclear, the company may delete the post after a
                            notification period of one week after an announcement.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 12 (Copyright of Posts)</h2>
                        <li>① The copyright of the posts posted by the member in the service belongs to the member, and
                            the company may use them in other services, such as for publication.
                        </li>
                        <li>② The member is solely responsible for any civil or criminal liability that arises from the
                            member's posts infringing on the copyrights, program copyrights, etc. of others.
                        </li>
                        <li>③ Members may not use the information obtained through the service for commercial purposes,
                            such as processing and selling it.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 13 (Ownership of the Company)</h2>
                        <li>① The intellectual property rights and other rights related to the service provided by the
                            company, the necessary software, images, marks, logos, designs, service names, information,
                            and trademarks are owned by the company.
                        </li>
                        <li>
                            ② Members may not modify, lend, borrow, sell, distribute, produce, assign, sublicense, grant
                            a security interest in, or commercially use all or part of each of the properties specified
                            in Paragraph 1, except with the express approval of the company, and may not allow a third
                            party
                            to do so.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 14 (Member's Obligations and Information Security)</h2>
                        <li>
                            ① When signing up to use the service, members must provide complete information that is
                            consistent with the current facts (hereinafter referred to as "registration information").
                            In addition, if there is a change in the registration information, it must be updated
                            immediately.
                        </li>
                        <li>
                            ② When a member completes the registration process to use the service, they will receive an
                            ID and password. To manage the member's ID and password: 1. If a problem occurs where the
                            password or ID is used without the member's approval, you must report it to the company
                            immediately.
                            2. You must log out securely at the end of each session.
                        </li>
                        <li>
                            ③ Members agree not to engage in the following acts while using the service.<br/>
                            1. Acts that harm others (including a small number of people)<br/>
                            a. Acts of stealing another person's ID, PASSWORD, or resident registration number and
                            impersonating another person<br/>
                            b. Acts of falsely stating one's relationship with another person<br/>
                            c. Acts of defaming another person by stating facts or false facts for the purpose of
                            slandering them<br/>
                            d. Acts of distributing false information for the purpose of giving oneself or another
                            person a financial advantage or causing harm to another person<br/>
                            e. Acts of repeatedly sending words, sounds, text, images, or videos that cause shame,
                            disgust, or fear to the other party, thereby interfering with the other party's daily
                            life<br/>
                            f. Commercial activities using the service without the prior consent of the company<br/>
                            g. Acts of stealing and using another person's information and communication service user ID<br/>
                            2. Acts of posting, publishing, or sending by e-mail unsolicited or unapproved
                            advertisements, promotional materials, "junk mail," "spam," "chain letters," "flooding,"
                            "pyramid schemes," etc.<br/>
                            3. Acts of posting, publishing, or sending by e-mail obscene or lewd data, text, software,
                            music, photos, graphics, video messages, etc. (hereinafter referred to as "content")<br/>
                            4. Acts of posting, publishing, or sending by e-mail content for which you do not have the
                            rights (including all intellectual property rights)<br/>
                            5. Acts of posting, publishing, or sending by e-mail software viruses to destroy, interfere
                            with, or limit the functionality of computer software, hardware, or telecommunications
                            equipment<br/>
                            6. Acts of collecting or storing the personal information of other users, such as posting,
                            publishing, or sending by e-mail materials containing other computer codes, files, or
                            programs<br/>
                            7. Acts of gambling or engaging in speculative activities with property<br/>
                            8. Acts of distributing information that arranges prostitution or mediates lewd acts<br/>
                            9. Other illegal or unfair acts
                        </li>
                        <li>④ Members must comply with the matters stipulated in these terms and conditions and related
                            laws and regulations.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 15 (Company's Obligations)</h2>
                        <li>① The company shall enable the member to use the service on the service start date requested
                            by the member, unless there are special circumstances.
                        </li>
                        <li>② The company has an obligation to provide the service continuously and stably as stipulated
                            in these terms and conditions.
                        </li>
                        <li>③ If a member suffers damages due to the service provided by the company, the company shall
                            be liable for such damages only if they are caused by the company's gross negligence, and
                            the scope of liability shall be limited to ordinary damages.
                        </li>
                        <li>④ If the company recognizes that opinions or complaints raised by members are justified, it
                            must handle them promptly. However, if prompt handling is difficult, the member must be
                            notified of the reason and the handling schedule.
                        </li>
                        <li>
                            ⑤ The company shall endeavor to protect the personal information of members, including their
                            registration information, as stipulated by the relevant laws and regulations. With regard to
                            the protection of members' personal information, the company shall comply with the relevant
                            laws
                            and regulations and the contents set forth in Article 16.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 16 (Privacy Policy)</h2>
                        <li>① The company collects information about members through the information provided by members
                            when applying for use, and the members' personal information is used for the purpose of
                            fulfilling this user agreement and providing the services under this user agreement.
                        </li>
                        <li>
                            ② The company may not disclose or distribute the information of members acquired in
                            connection with the provision of the service to a third party without their consent, and may
                            not use it for commercial purposes. However, this shall not apply in the following cases. 1.
                            When there
                            is a request from a related agency for investigation purposes in accordance with the
                            relevant laws and regulations.<br/>
                            2. When there is a request from the Information and Communications Ethics Committee.<br/>
                            3. When there is a request in accordance with the procedures stipulated in other relevant
                            laws and regulations.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 17 (Termination of Contract and Restriction of Use)</h2>
                        <li>① When a member wishes to terminate the user agreement, the member must apply for
                            termination on this site directly through the Internet.
                        </li>
                        <li>② The company may request or change the member's ID and PASSWORD for reasons such as
                            security, ID policy, and smooth provision of the service.
                        </li>
                        <li>
                            ③ The company may terminate the user agreement without prior notice if the member engages in
                            any of the following acts.<br/>
                            1. When it is found that the data provided by the member is false, such as non-real-name
                            registration or theft of a resident registration number.<br/>
                            2. When it is related to a criminal act.<br/>
                            3. When the service is planned or executed for the purpose of undermining the national
                            interest or public interest.<br/>
                            4. When another person's service ID and password are stolen.<br/>
                            5. When another person's honor is damaged or disadvantaged.<br/>
                            6. When the same user has registered with a different ID.<br/>
                            7. When the sound use of the service is hindered, such as by harming the service.<br/>
                            8. When it violates other relevant laws and regulations or the terms of use set by the
                            company.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 18 (Fees and Paid Information)</h2>
                        <li>The use of the service is basically free. However, this does not apply to separate paid
                            information and paid services determined by the service.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 19 (Prohibition of Assignment)</h2>
                        <li>Members may not assign or donate their right to use the service or their status under the
                            user agreement to others, and may not provide it as collateral.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 20 (Compensation for Damages)</h2>
                        <li>The company shall not be liable for any damages incurred by members in connection with the
                            free service, except in cases where such damages are caused by the company's gross
                            negligence.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 21 (Disclaimer)</h2>
                        <li>① The company is exempt from liability for providing the service if it is unable to provide
                            the service due to a natural disaster or other force majeure.
                        </li>
                        <li>② The company is not responsible for any obstacles to the use of the service caused by the
                            member's fault.
                        </li>
                        <li>③ The company is not responsible for any damages incurred from the profits expected by the
                            member using the service or from the data obtained through the service.
                        </li>
                        <li>④ The company is not responsible for the reliability, accuracy, etc. of the information,
                            data, and facts posted by the member on the service.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 22 (Jurisdiction)</h2>
                        <li>① If a dispute arises between the company and a member in connection with the use of the
                            service, the company and the member shall make every effort necessary to resolve the dispute
                            amicably.
                        </li>
                        <li>② Notwithstanding the provisions of Paragraph 1, if a lawsuit is filed regarding a dispute
                            arising from the use of the service, the court having jurisdiction over the location of the
                            company shall be the competent court.
                        </li>
                    </ul>

                    <ul>
                        <h2 class="">Article 23 (Refund Policy)</h2>
                        <li>Caesar's Kitchen Co., Ltd. complies with the standard terms and conditions of e-commerce.
                            Refunds are only possible for the unused amount charged to the lunch card. The amount used
                            is non-refundable.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</html>