<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout-en}">
<div layout:fragment="contents" th:remove="tag">
    <div class="main-container">
        <div class="container">
            <div class="payment-wrap">
                <div class="payment-head">
                    <p class="title">Details Of Usage</p>
                    <div class="daterange-wrap">
                        <input type="text" class="form-control" placeholder="YYYY.MM.DD" data-picker="date"/>
                        <div class="hyphen"></div>
                        <input type="text" class="form-control" placeholder="YYYY.MM.DD" data-picker="date"/>
                        <button type="button" class="btn btn-dark">Search</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table-top">
                        <div class="d-flex align-items-center gap-3">
                            <p class="table-top-title">Total Usage History</p>
                            <p class="table-top-desc">Total <span>26</span></p>
                        </div>
                    </div>
                    <div class="scroll-layout">
                        <table class="table border-table payment">
                            <colgroup>
                                <col width="16.6%"/>
                                <col width="16.6%"/>
                                <col width="16.6%"/>
                                <col width="16.6%"/>
                                <col width="16.6%"/>
                                <col width="16.6%"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Time</th>
                                <th class="text-center">Charge Amount</th>
                                <th class="text-center">Use items</th>
                                <th class="text-center">Details of usage</th>
                                <th class="text-center">Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center">
                                    <p>09:22:44</p>
                                </td>
                                <td class="text-center">
                                    <p>-</p>
                                </td>
                                <td class="text-center">
                                    <p>아메리카노 Ice</p>
                                </td>
                                <td class="text-center">
                                    <p>2,500</p>
                                </td>
                                <td class="text-center">
                                    <p>632,450</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center">
                                    <p>09:22:44</p>
                                </td>
                                <td class="text-center">
                                    <p>-</p>
                                </td>
                                <td class="text-center">
                                    <p>아메리카노 Ice</p>
                                </td>
                                <td class="text-center">
                                    <p>2,500</p>
                                </td>
                                <td class="text-center">
                                    <p>632,450</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center">
                                    <p>09:22:44</p>
                                </td>
                                <td class="text-center">
                                    <p>-</p>
                                </td>
                                <td class="text-center">
                                    <p>아메리카노 Ice</p>
                                </td>
                                <td class="text-center">
                                    <p>2,500</p>
                                </td>
                                <td class="text-center">
                                    <p>632,450</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center">
                                    <p>09:22:44</p>
                                </td>
                                <td class="text-center">
                                    <p>-</p>
                                </td>
                                <td class="text-center">
                                    <p>아메리카노 Ice</p>
                                </td>
                                <td class="text-center">
                                    <p>2,500</p>
                                </td>
                                <td class="text-center">
                                    <p>632,450</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center">
                                    <p>09:22:44</p>
                                </td>
                                <td class="text-center">
                                    <p>-</p>
                                </td>
                                <td class="text-center">
                                    <p>아메리카노 Ice</p>
                                </td>
                                <td class="text-center">
                                    <p>2,500</p>
                                </td>
                                <td class="text-center">
                                    <p>632,450</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center">
                                    <p>09:22:44</p>
                                </td>
                                <td class="text-center">
                                    <p>-</p>
                                </td>
                                <td class="text-center">
                                    <p>아메리카노 Ice</p>
                                </td>
                                <td class="text-center">
                                    <p>2,500</p>
                                </td>
                                <td class="text-center">
                                    <p>632,450</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center">
                                    <p>09:22:44</p>
                                </td>
                                <td class="text-center">
                                    <p>-</p>
                                </td>
                                <td class="text-center">
                                    <p>아메리카노 Ice</p>
                                </td>
                                <td class="text-center">
                                    <p>2,500</p>
                                </td>
                                <td class="text-center">
                                    <p>632,450</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center">
                                    <p>09:22:44</p>
                                </td>
                                <td class="text-center">
                                    <p>-</p>
                                </td>
                                <td class="text-center">
                                    <p>아메리카노 Ice</p>
                                </td>
                                <td class="text-center">
                                    <p>2,500</p>
                                </td>
                                <td class="text-center">
                                    <p>632,450</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center">
                                    <p>09:22:44</p>
                                </td>
                                <td class="text-center">
                                    <p>-</p>
                                </td>
                                <td class="text-center">
                                    <p>아메리카노 Ice</p>
                                </td>
                                <td class="text-center">
                                    <p>2,500</p>
                                </td>
                                <td class="text-center">
                                    <p>632,450</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <p class="">2025-06-30</p>
                                </td>
                                <td class="text-center">
                                    <p>09:22:44</p>
                                </td>
                                <td class="text-center">
                                    <p>-</p>
                                </td>
                                <td class="text-center">
                                    <p>아메리카노 Ice</p>
                                </td>
                                <td class="text-center">
                                    <p>2,500</p>
                                </td>
                                <td class="text-center">
                                    <p>632,450</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="First">
                                    <i class="icon-pagination-first"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <i class="icon-pagination-prev"></i>
                                </a>
                            </li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <i class="icon-pagination-next"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Last">
                                    <i class="icon-pagination-last"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</html>