<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fw.core.mapper.db1.fo.FoMainMapper">

    <select id="selectUserByCardId" parameterType="String" resultType="FoUserDTO">
        SELECT custNo
             , custName
             , cardId
             , webId
        FROM user_tb
        WHERE cardId = #{cardId}
    </select>

    <select id="countByWebId" resultType="int">
        SELECT COUNT(*) FROM user_tb WHERE webId = #{webId}
    </select>

    <update id="updateUserByCustNo" parameterType="FoUserDTO">
        UPDATE user_tb
        SET webId = #{webId}
          , webPw = #{webPw}
        WHERE custNo = #{custNo}
    </update>

    <select id="selectUserByCredentials" parameterType="FoUserDTO" resultType="FoUserDTO">
        SELECT *
        FROM user_tb
        WHERE webId = #{webId} AND webPw = #{webPw}
    </select>

    <select id="selectCardInfo" parameterType="String" resultType="FoUserDTO">
        SELECT custName
             , custNo
             , webId
        FROM user_tb
        WHERE cardId = #{cardId}
    </select>
</mapper>