<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fw.core.mapper.db1.fo.FoMainMapper">

    <select id="countByCardId" resultType="int">
        SELECT COUNT(*) FROM user_tb WHERE cardId = #{cardId}
    </select>

    <select id="countByWebId" resultType="int">
        SELECT COUNT(*) FROM user_tb WHERE webId = #{webId}
    </select>

    <select id="getTodayUserSeq" resultType="int">
        SELECT IFNULL(MAX(SUBSTRING(custNo, 7, 4)), 0) + 1
        FROM user_tb
        WHERE SUBSTRING(custNo, 1, 6) = #{today}
    </select>

    <insert id="insertUser" parameterType="FoUserDTO">
        INSERT INTO user_tb (
            custNo
            , cardId
            , custName
            , webId
            , password
            , cDate
        ) VALUES (
                     #{custNo}
                     , #{cardId}
                     , #{custName}
                     , #{webId}
                     , #{password}
                     , NOW()
                 )
    </insert>
    <select id="selectUserByCredentials" parameterType="FoUserDTO" resultType="FoUserDTO">
        SELECT *
        FROM user_tb
        WHERE webId = #{webId} AND webPw = #{webPw}
    </select>
</mapper>