<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fw.core.mapper.db1.fo.FoPaymentMapper">
    <!-- 결제(충전)내역 등록용 ilno 조회 -->
    <select id="getIlnoForRegisterPayment" resultType="java.lang.String">
        SELECT COALESCE(MAX(ilno), 0) + 1
          FROM mkt_tb
         WHERE fDate = CURDATE()
           AND rtn = '01'
           AND loc = 'WEB'
         FOR UPDATE
    </select>

    <!-- 결제(충전)내역 등록 -->
    <insert id="registerPayment" parameterType="com.fw.core.dto.fo.FoPaymentDTO">
        INSERT INTO mkt_tb (
               fDate
             , rtn
             , ilno
             , loc
             , custNo
             , gbn
             , amnt
             , cDate
        ) VALUES (
               CURDATE()
             , '01'
             , #{ilno}
             , 'WEB'
             , #{custNo}
             , 'CHARGE'
             , #{amnt}
             , NOW()
        )
    </insert>

    <!-- 결제(충전)내역 상세 등록용 ilno 조회 -->
    <select id="getSnnoForRegisterPaymentDesc" resultType="java.lang.String">
        SELECT COALESCE(MAX(snno), 0) + 1
          FROM mkt_desc_tb
         WHERE fDate = CURDATE()
           AND rtn = '01'
           AND loc = 'WEB'
         FOR UPDATE
    </select>

    <!-- 결제(충전)내역 상세 등록 -->
    <insert id="registerPaymentDesc" parameterType="com.fw.core.dto.fo.FoPaymentDescDTO">
        INSERT INTO mkt_desc_tb (
               fDate
             , rtn
             , ilno
             , snno
             , loc
             , custNo
             , gbn
             , amnt
             , menuCd
             , menuNm
             , cDate
        ) VALUES (
               CURDATE()
             , '01'
             , #{ilno}
             , #{snno}
             , 'WEB'
             , #{custNo}
             , 'CHARGE'
             , #{amnt}
             , 'CHARGE'
             , '충전'
             , NOW()
        )
    </insert>
    <select id="selectPaymentChargeList" parameterType="FoPaymentDTO" resultType="FoPaymentDTO">
        SELECT fDate
             , date_format(cDate, '%H:%i:%s') as createDt
             , amnt
            FROM mkt_tb
        <where>
            gbn = 'CHARGE' and custNo = #{custNo} and rtn = '01'
            <if test="searchStart != null and searchStart != ''">
                AND date_format(cDate, '%Y-%m-%d') >= #{searchStart}
            </if>
            <if test="searchEnd != null and searchEnd != ''">
                AND date_format(cDate, '%Y-%m-%d') &lt;= #{searchEnd}
            </if>
        </where>
        ORDER BY cDate DESC
    </select>
    <select id="selectPaymentChargeListCnt" resultType="int" parameterType="FoPaymentDTO">
        SELECT COUNT(*)
        FROM mkt_tb
        <where>
            gbn = 'CHARGE' and custNo = #{custNo} and rtn = '01'
            <if test="searchStart != null and searchStart != ''">
                AND date_format(cDate, '%Y-%m-%d') >= #{searchStart}
            </if>
            <if test="searchEnd != null and searchEnd != ''">
                AND date_format(cDate, '%Y-%m-%d') &lt;= #{searchEnd}
            </if>
        </where>
    </select>

    <select id="selectPaymentUseList" parameterType="FoPaymentDTO" resultType="FoPaymentDTO">
        SELECT mdt.fDate
             , date_format(mdt.cDate, '%H:%i:%s') as createDt
             , mdt.gbn
             , mdt.amnt
             , mdt.balance
             , mdt.menuNm
          FROM mkt_desc_tb mdt
        <where>
            mdt.custNo = #{custNo} and mdt.rtn = '01'
            <if test="searchStart != null and searchStart != ''">
                AND date_format(mdt.cDate, '%Y-%m-%d') >= #{searchStart}
            </if>
            <if test="searchEnd != null and searchEnd != ''">
                AND date_format(mdt.cDate, '%Y-%m-%d') &lt;= #{searchEnd}
            </if>
        </where>
        ORDER BY mdt.cDate DESC
    </select>
    <select id="selectPaymentUseListCnt" resultType="int" parameterType="FoPaymentDTO">
        SELECT COUNT(*)
          FROM mkt_desc_tb mdt
        <where>
            mdt.custNo = #{custNo} and mdt.rtn = '01'
            <if test="searchStart != null and searchStart != ''">
                AND date_format(mdt.cDate, '%Y-%m-%d') >= #{searchStart}
            </if>
            <if test="searchEnd != null and searchEnd != ''">
                AND date_format(mdt.cDate, '%Y-%m-%d') &lt;= #{searchEnd}
            </if>
        </where>
    </select>

    <!-- 잔액 동기화 대상 조회 -->
    <select id="getTargeListtForSyncBalance" resultType="com.fw.core.dto.fo.FoPaymentDTO">
        SELECT A.fDate
             , A.rtn
             , A.ilno
             , A.snno
             , A.loc
             , A.custNo
             , A.gbn
             , A.amnt
             , IFNULL(B.ipkm - B.chkm, 0) AS currentBalance
          FROM mkt_desc_tb A
     LEFT JOIN balance_tb B ON A.custNo = B.custNo
         WHERE A.balance IS NULL
           AND A.cDate > '2025-08-05 23:59:59'
    </select>

    <!-- 잔액 동기화 -->
    <update id="syncBalance" parameterType="com.fw.core.dto.fo.FoPaymentDTO">
        UPDATE mkt_desc_tb
           SET balance = #{balance}
         WHERE fDate = #{fDate}
           AND rtn = #{rtn}
           AND ilno = #{ilno}
           AND snno = #{snno}
           AND loc = #{loc}
    </update>

</mapper>