<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common">
    <footer id="footer">
        <div class="container">
            <div class="">
                <div class="d-flex align-items-center gap-5 mb-5">
                    <img src="/static/images/footer-logo.svg" alt="" />
                    <a href="/fo/terms-en" class="service-btn">Terms of Service</a>
                </div>
                <div class="company">
                    <div>
                        <p class="">Company Name: <span>Caesar's Kitchen LLC</span></p>
                        <p>CEO: <span>CHRISTOPHEREUGENE ZARODKIEWICZ</span></p>
                        <p>
                            Business Address:
                            <span>B101-836, 109-dong, 10, Dokmak-ro 28-gil, Mapo-gu, Seoul, Republic of Korea</span>
                        </p>
                        <p>Business Registration Number: <span>420-87-0050</span></p>
                        <p>Mail-order Business Report Number: <span>No. 2022-Seoul Mapo-2802</span></p>
                        <p>Contact: <span>031-789-0595</span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>