<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common">
    <footer id="footer">
        <div class="container h-100">
            <div class="h-100 vstack gap-4 justify-content-center">
                <div class="d-flex justify-content-between flex-column flex-lg-row h-100">
                    <div class="footer-right">
                        <div class="logo"><img src="/static/images/logo.svg" alt="" /></div>
                        <ul class="info">
                            <li>
                                <div class="name" style="min-width: 100px;">CEO</div>
                                <p>Sang Yoon Bae</p>
                            </li>
                            <li>
                                <div class="name" style="min-width: 100px;">Address</div>
                                <p>(06142) 7th Floor, Centerfield West, 231 Teheran-ro, Gangnam-gu, Seoul, South Korea</p>
                            </li>
                            <li>
                                <div class="name" style="min-width: 100px;">Business<br />Number</div>
                                <p>877-86-03056</p>
                            </li>
                            <li>
                                <div class="name" style="min-width: 100px;">TEL</div>
                                <p>050-8000-0223</p>
                            </li>
                            <li>
                                <div class="name" style="min-width: 100px;">E-mail</div>
                                <p>aesk@aesk.co.kr</p>
                            </li>
                        </ul>
                        <p class="copyright">COPYRIGHTⓒ2024 aESK.ALL RIGHTS RESERVED.</p>
                    </div>
                    <div class="footer-left">
                        <ul class="link">
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="#">Find ID/Password</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</th:block>
</html>