<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common">
    <footer id="footer">
        <div class="container">
            <div class="">
                <div class="d-flex align-items-center gap-5 mb-5">
                    <img src="/static/images/footer-logo.svg" alt=""/>
                    <a href="" class="service-btn">서비스 이용약관</a>
                </div>
                <div class="company">
                    <div>
                        <p class="">상호명: <span>씨저스키친 유한회사</span></p>
                        <p>대표자명: <span>CHRISTOPHEREUGENE ZARODKIEWICZ</span></p>
                        <p>
                            사업장 주소:
                            <span>서울특별시 마포구 독막로28길 10, 109동 상가 비101-836호(신수동)</span>
                        </p>
                        <p>사업자등록번호: <span>420-87-0050</span></p>
                        <p>통신판매업신고번호: <span>제2022-서울마포-2802호</span></p>
                        <p>유선 연락처: <span>031-789-0595</span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>