<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="commonMetaAndTitle">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TJKHHX7');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no,viewport-fit=cover" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="referrer" content="no-referrer-when-downgrade" />
        <!-- 이하 생략 -->
    </th:block>

    <th:block th:fragment="commonStyle">
        <!-- jquery js -->
        <script src="/static/lib/jquery/jquery.min.js"></script>

        <!-- jquery ui -->
        <link rel="stylesheet" href="/static/lib/jquery-ui/jquery-ui.min.css" />
        <script src="/static/lib/jquery-ui/jquery-ui.min.js"></script>

        <!-- select2 -->
        <link rel="stylesheet" href="/static/lib/select2/select2.min.css" />
        <script src="/static/lib/select2/select2.min.js"></script>

        <!-- library css -->
        <link rel="stylesheet" href="/static/css/bootstrap-grid.css" />
        <!-- <link rel="stylesheet" href="@@webRoot/assets/css/bootstrap.css" /> -->

        <!-- publilshing css -->
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/additional.css" />

        <!-- library js -->
        <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>

        <!-- publishing js -->
        <script src="/js/ui.js" async></script>

        <!-- swiper -->
        <link rel="stylesheet" href="/static/lib/swiper/css/swiper-bundle.min.css" />
        <script src="/static/lib/swiper/js/swiper-bundle.min.js"></script>

        <!-- chatting js -->
    </th:block>

</html>
