.schedule-details {
  padding: 100px 0; position: relative;
  .bg {background: url('../images/schedule-details-bg.png') no-repeat top; background-size: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;}
  .title-wrap {
    margin-bottom: 30px;
    @include media-breakpoint-up(lg){
      margin-bottom: 80px;
    }
    .icon-title-arrow {
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='63' viewBox='0 0 64 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.5L62 61.5M62 61.5V1.5M62 61.5H2' stroke='%2300B477' stroke-width='3'/%3E%3C/svg%3E%0A"); width: 40px; height: 40px; margin-bottom: 20px;
      @include media-breakpoint-up(lg){
        width: 60px; height: 60px; margin-bottom: 40px;
      }
    }
    .sub-title {
      color: $primary; @include typography(16px, 700); margin-bottom: 12px; font-family: "Playfair Display";
      @include media-breakpoint-up(lg){
        @include typography(24px); margin-bottom: 24px;
      }
    }
    .title {
      color: #000; @include typography(24px, 700);
      @include media-breakpoint-up(lg){
        @include typography(40px);
      }
    }
  }
  .schedule-details-box {
    background-color: $white; padding: 20px 0; border-radius: 24px; backdrop-filter: blur(6px);
    >.overflow-y-auto {
      max-height: calc(410px - (20px * 2)); padding: 0 20px;
      @include media-breakpoint-up(lg){
        max-height: calc(700px - (40px * 2)); padding: 0 40px;
      }
    }
    .icon-take-off {
      @include media-breakpoint-down(lg){
        width: 24px; height: 24px;
      }
    }
    .icon-randing {
      @include media-breakpoint-down(lg){
        width: 24px; height: 24px;
      }
    }
    .flight-time {
      padding-bottom: 20px; border-bottom: 1px solid #DFE1E4; margin-bottom: 20px;
      &.bottom { 
        margin: 20px 0 0; padding: 20px 0 0; border-top: 1px solid #DFE1E4; border-bottom: 0;
        @include media-breakpoint-up(lg){
          margin: 40px 0 0; padding: 40px 0 0;
        }
      }
    }
    .logo {
      margin-bottom: 8px;
      @include media-breakpoint-down(lg){
        margin-bottom: 4px;
        img {width: 150px;}
      }
    }
    .total-time {
      color: $gray3; @include typography(12px); margin-bottom: 4px;
      @include media-breakpoint-up(lg){
        margin-bottom: 8px; @include typography(14px);
      }
    }
    .airplane-wrap {
      display: flex; align-items: center; gap: 8px; margin-bottom: 6px;
      @include media-breakpoint-up(lg){
        gap: 16px; margin-bottom: 12px;
      }
    }
    .time-wrap {
      display: flex; align-items: center; justify-content:space-between; color: #000; 
      .time {
        @include typography(18px, 700); margin-bottom: 4px;
        @include media-breakpoint-up(lg){
          @include typography(24px);
        }
      }
      .country {
        @include typography(14px);
        @include media-breakpoint-up(lg){
          @include typography(16px);
        }
      }
    }
    .schedule-list-wrap {
      display: flex; flex-direction: column; gap: 16px;
      .list {
        display: flex; gap: 8px;
        @include media-breakpoint-up(lg){
          gap: 16px;
        }
      }
      .time {
        color: #000; @include typography(14px, 700);
        @include media-breakpoint-up(lg){
          @include typography(18px);
        }
      }
      .desc {
        @include typography(14px);
        @include media-breakpoint-up(lg){
          @include typography(18px);
        }
      }
      .schedule-list-details {
        padding-top: 6px; display: flex; flex-direction: column; gap: 16px;
        .list {
          gap: 16px; position: relative; color: #000;
          &::before {
            content: ''; width: 2px; height: 100%; position: absolute; left: 9px; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='379' viewBox='0 0 2 379' fill='none'%3E%3Cpath d='M1 0V379' stroke='%23A1A7AE' stroke-dasharray='4 4'/%3E%3C/svg%3E"); z-index: -1; top: 18px;
            @include media-breakpoint-up(lg){
              top: 24px; left: 11px;
            }
          }
          &:last-child {
            &::before {display: none;}
          }
          @include media-breakpoint-up(lg){
            gap: 48px;
          }
        }
        .icon-circle-green {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='6' fill='%2300B477'/%3E%3C/svg%3E%0A"); width: 20px; height: 20px;
          @include media-breakpoint-up(lg){
            width: 24px; height: 24px; margin-top: 0;
          }
        }
        @include media-breakpoint-up(lg){
          gap: 24px; padding-top: 12px;
        }
      }
      @include media-breakpoint-up(lg){
        gap: 24px;
      }
    }
    @include media-breakpoint-up(lg){
      padding: 40px 0;
    }
  }
  @include media-breakpoint-up(lg){
    padding: 240px 0;
  }
}